@use "../variables" as *;
@use "../media" as *;

.shop {
	padding-top: 120px;
	padding-bottom: 120px;

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 40px;

		@include mobile{
			flex-wrap: wrap;
			justify-content: end;
			gap: 30px;
		}
	}

	&__categories {
		display: flex;
		gap: 28px;
		overflow-x: auto;

		@include mobile{
			flex-grow: 1;
			gap: 16px;
		}
	}

	&__category-item {
	}

	&__category-btn {
		color: $carrot;
		padding-bottom: 10px;
		position: relative;

		&_active {
			color: $green;
		}

		&::after {
			content: "";
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: 1px;
			background-color: $green;
			transform: scale(0);
			transition: transform 0.3s ease-in-out;
		}

		&_active::after {
			transform: scale(1);
		}
	}

	&__btn-card {
		position: relative;
		display: block;
		width: 28px;
		height: 28px;

		
	}

	&__cnt-card {
		position: relative;
		z-index: 2;
		font-weight: 700;
		font-size: 12px;
		line-height: 1px;
		color: $light;

		@include bigscreen{
			vertical-align: middle;
		}
	}

	&__icon-card {
		position: absolute;
		z-index: 1;
		inset: 0;
	}

	&__title {
		font-weight: 700;
		font-size: 52px;
		color: $green;
		margin-bottom: 32px;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(auto-fill, 420px);
		justify-content: center;
		gap: 20px;

		@include mobile {
			grid-template-columns: repeat(auto-fill, 100%);
		}
	}

	&__item {
		display: flex;
		justify-content: center;
	}
}
